<div class="aside-menu">
    <div class="player-infos">
        <app-player-identity></app-player-identity>
        <app-experience-bar></app-experience-bar>
    </div>
    <app-player-vitals></app-player-vitals>
    <img class="fence" src="./assets/images/brown-separator.png" alt="">
    <div class="nav-menu">
        <app-side-bar-button [buttonTitle]="'Character'"></app-side-bar-button>
        <app-side-bar-button [buttonTitle]="'Inventory'"></app-side-bar-button>
        <app-side-bar-button [buttonTitle]="'Skills'"></app-side-bar-button>
        <app-side-bar-button [buttonTitle]="'Region'"></app-side-bar-button>
        <app-side-bar-button [buttonTitle]="'World Map'"></app-side-bar-button>
    </div>
    <img class="fence" src="./assets/images/brown-separator.png" alt="">
    <div class="credit">
        <a href="https://www.freepik.com/icon/armor_6010434">Icon by Freepik</a>
    </div>
</div>