<div class="region-window" *ngIf="(windowStateService.openWindow$ | async) === 'region'">
    <app-window-title 
    windowTitle="Region Map"
    />
    <div class="inner-window">
        <div class="region-map">
            <img src="./assets/images/regions/regionmap-khalradempire.jpg" alt="Map of the khalrad Empire">
            <div class="location" style="top: 210px; left:600px"></div>
        </div>
        <div class="player-actions">
            <p>Player actions</p>
        </div>
    </div>
</div>