.player-resource {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p:first-child {
        background: linear-gradient(180deg, #C89C5B 30%, #EAEAEA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-weight: 600;
        font-size: 1.1rem;
    }

    p:last-child {
        text-align: right;
    }

    p {
        padding: 4px 15px;
        font-weight: 600;
        font-size: 1.1rem;
    }
}

#health-vital {
    p:last-child {
        color: #BB1A1A;
    }
}

#mana-vital {
    p:last-child {
        color: #2898FF;
    }
}

#stamina-vital {
    p:last-child {
        color: #19902B;
    }
}