.inventory-window {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(63, 74, 98, 0.95);
    border: 2px solid #685C3C;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 2fr;
    padding: 25px;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 1440px) {
        display: block;
    }

    .equipment {
        position: relative;
        background-color: #262626;
        border: 2px solid #685C3C;
        padding: 25px;
        min-height: 500px;

        @media screen and (max-width: 1440px) {
            margin-bottom: 25px;
        }
    }

    .inventory {
        position: relative;
        background-color: #262626;
        border: 2px solid #685C3C;
        padding: 70px 25px 25px 25px;
    }

    .inventory-grid {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-color: #CAA782 rgba(128, 128, 128, 0.227) ;
        scrollbar-width: thin;
    }
}