<header>
    <div class="game-logo-container">
        <img class="background-logo-image" src="./assets/images/digital-art-3563931_640.jpg" alt="">
        <img class="logo-image" src="./assets/images/logo.png" alt="Game logo">
    </div>
    <div class="top-bar">
        <div class="player-portrait">
            <img src="{{ player?.portraitSmall }}" alt="Portrait of the player">
        </div>
        <app-mainmenu-button
        title="Main menu"
        (buttonClick)="handleMainMenuButtonClick()"
        width="fit-content"
        />
    </div>
</header>