<div class="player-vitals">
    <table>
        <tbody>
            <app-player-resource 
            resourceName="Health"
            resourceCssId="health-vital"
            [resourceValueCurrent]=300
            [resourceValueMax]=300
            />
            <app-player-resource 
                resourceName="Mana"
                resourceCssId="mana-vital"
                [resourceValueCurrent]=300
                [resourceValueMax]=300
            />
            <app-player-resource 
                resourceName="Stamina"
                resourceCssId="stamina-vital"
                [resourceValueCurrent]=300
                [resourceValueMax]=300
            />
        </tbody>
    </table>
</div>