.inventory-window {
    background: rgba(63, 74, 98, 0.95);
    border: 2px solid #685C3C;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 2fr;
    padding: 25px;
    height: 100%;

    .equipment {
        position: relative;
        background-color: #262626;
        border: 2px solid #685C3C;
        padding: 25px;
    }

    .inventory {
        position: relative;
        background-color: #262626;
        border: 2px solid #685C3C;
        padding: 70px 25px 25px 25px;
    }

    .window-title {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -30%);
    }

    .inventory-grid {
        display: flex;
        flex-wrap: wrap;
    }
}