<div class="main-window">
    <div class="inventory-window">
        <div class="equipment">
            <div class="window-title">
                <div class="inner-container">
                    <p>Equipment</p>
                </div>
            </div>
        </div>
        <div class="inventory">
            <div class="window-title">
                <div class="inner-container">
                    <p>Inventory</p>
                </div>
            </div>
            <div class="inventory-grid">
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
                <app-inventory-slot></app-inventory-slot>
            </div>
        </div>
    </div>
</div>