<div class="main-menu" [style.display]="(menuVisible$ | async) ? 'flex' : 'none'">
    <div class="inner-container">
        <p>Main Menu</p>
        <img class="fence" src="./assets/images/brown-separator.png" alt="Decorative bar to separated sections">
        <app-mainmenu-button title="Save" buttonType="save" (buttonClick)="handleButtonClick($event)" width="100%" />
        <app-mainmenu-button title="Load" buttonType="load" (buttonClick)="handleButtonClick($event)" width="100%" />
        <app-mainmenu-button title="Options" buttonType="options" (buttonClick)="handleButtonClick($event)" width="100%" />
        <app-mainmenu-button title="Quit" buttonType="quit" (buttonClick)="handleButtonClick($event)" width="100%" />
        <app-mainmenu-button title="Resume" buttonType="resume" (buttonClick)="handleButtonClick($event)" width="100%" />
    </div>
</div>